nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    padding: 1% 10% 1% 5%;
    border-bottom: 1px solid black;
    background-color:#19dbc1
}
.nav-right{
    display: flex;
    gap: 15%;
}
li{
    text-decoration: none;
    list-style: none;
}

/* home page */

.home-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.flex-fix{
    flex: 0 0 auto;
}
.home-left{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 8%;
    align-items:center;
    font-size: 30px;
}
.home-left-btn {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }

  .about-img {
    display: flex;
    justify-content: space-between; /* Add space between images */
    align-items: center; /* Vertically center images */
    height: 40%; /* 30% of the viewport height */
    padding: 30px 80px 30px 200px; /* Add padding as needed */
  }
  .about-img .flex-vertical{
    width:40%;
    max-height:100%;
  }
  
  .about-img img{
    max-height: 100%; /* Make images responsive to container height */
    width: 70%;  /* Maintain aspect ratio */
    padding: 20px;
    border:2px solid #0a0a23;
  }


.brand{
    color: blue;
}
